@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --orangeDark:#BD5D38;
    --orangeLight:#bf6f50;
    --white:#fff;
    --gray:#898786;
    --grayLight:#d3cfcd;
    --black:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--gray);
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
}










































